#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

include /usr/share/dpkg/default.mk

ANDROID_DIR = build-android
DESKTOP_DIR = build-desktop
TMP1_DIR = $(CURDIR)/debian/tmp1
TMP2_DIR = $(CURDIR)/debian/tmp2

# We only want to build qtmir-android on arches using Qt built with OpenGL ES2.0
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
gles2_architectures = armhf

USES_GLES2 = $(findstring $(DEB_HOST_ARCH), $(gles2_architectures))

%:
	dh $@ --parallel --fail-missing

override_dh_clean:
	rm -rf $(TMP1_DIR)
	dh_clean

override_dh_auto_configure:
	mkdir -p $(ANDROID_DIR) && dh_auto_configure -B$(ANDROID_DIR) -- $(FLAGS) $(CURDIR) -DUSE_OPENGLES=1

override_dh_auto_build:
	dh_auto_build -B$(ANDROID_DIR)

override_dh_auto_test:
	dh_auto_test -B$(ANDROID_DIR)

override_dh_auto_install:
	dh_auto_install -B$(ANDROID_DIR) --destdir=$(TMP1_DIR)

override_dh_install:
	dh_install --sourcedir=$(TMP1_DIR) -pqtmir-android
	dh_install --sourcedir=$(TMP1_DIR) -pqtdeclarative5-qtmir-plugin
